<% content_for :css do %>
	<%= stylesheet_link_tag 'sessions' %>
<% end %>

<div class="container">
  <h1 class="form-item">ログイン</h1>
  <%=form_with scope: :session, local: true do |f|%>
    <div class="form-item">
      <%=f.label :email, 'メールアドレス'%>
      <%=f.text_field :email, class: 'form-control', id: 'session_email'%>
    </div>
    <div class="form-item">
      <%=f.label :password, 'パスワード'%>
      <%=f.password_field :password, class: 'form-control', id: 'session_password'%>
    </div>
    <%=f.submit 'ログインする', class: 'btn btn-primary'%>
  <%end%>
</div>
