<% content_for :css do %>
	<%= stylesheet_link_tag 'sessions' %>
<% end %>

<div class="container">
  <h1 class="form-item form-title">ログイン</h1>
  <%=form_with scope: :session, local: true do |f|%>
    <div class="form-item">
      <%=f.label :email, 'メールアドレス', class: 'form-label'%>
      <%=f.text_field :email, class: 'form-control', id: 'session_email', autofocus: true%>
    </div>
    <div class="form-item">
      <%=f.label :password, 'パスワード', class: 'form-label'%>
      <%=f.password_field :password, class: 'form-control', id: 'session_password'%>
    </div>
    <div class="form-item">
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン情報を保存</span>
      <% end %>
    </div>
    <div class="btn-container">
      <%=f.button type: 'button', onclick: 'submit();', class: 'btn slide-bg' do %>
        <span class="bg"></span>
        ログイン
      <% end %>
    </div>
  <%end%>
</div>
