<% content_for :css do %>
	<%= stylesheet_link_tag 'posts/index' %>
<% end %>

<%# 検索窓 %>
<%= search_form_for @search, class: 'search-form' do |f| %>
	<div class="form-search">
		<%= f.label :address_cont, class: 'form-search__label' do %>
			<i class="fas fa-search"></i>
		<% end %>
		<%= f.search_field :address_cont, class: 'form-search__control'%>
		<%= f.submit class: 'btn-search'%>
	</div>

<% end %>

<%# 投稿カードのパーシャル呼び出し %>
<%= render 'partial/posts_card' %>
