<% content_for :css do %>
	<%= stylesheet_link_tag 'posts/show' %>
<% end %>

<div class="card card-skin">
	<div class="item-wrapper">
		<img class="card__imgframe" src="<%= "#{@post.image}" %>">
		<div class="card__textbox">
			<div class="card__titletext">
				<%= @post.title %>
			</div>
			<div class="card__overviewtext">
				<%= @post.description %>
			</div>
		</div>
		<%= link_to '詳細', post_path(@post)%>
	</div>
</div>

<%# google map %>
<div class="map-container">
	<div id='map'></div>
</div>


<%# javascript読み込み %>
<%= javascript_include_tag "posts/gmap.js" %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.api_key[:google]%>&callback=initMap" async defer></script>
