<% content_for :css do %>
	<%= stylesheet_link_tag 'posts/show' %>
<% end %>

<div class="global-container">
	<div class="card card-skin">
		<div class="item-wrapper">
			<img class="card__imgframe" src="<%= "#{@post.image}" %>">
			<div class="card__textbox">
				<div id="postTitle" class="card__titletext">
					<%= @post.title %>
				</div>
				<div class="card__overviewtext">
					<%= @post.description %>
				</div>
			</div>
			<%= link_to '編集', edit_post_path, data: {"turbolinks" => false}, class: ''%>
		</div>
		<%= hidden_field_tag :address, @post.address %>
	</div>

	<%# google map %>
	<div class="map-container">
		<div id="map" class="map"></div>
	</div>
</div>




<%# javascript読み込み %>
<%= javascript_include_tag "posts/gmap_show.js" %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['gmapkey']%>&callback=initMap" async defer></script>
