<% content_for :css do %>
	<%= stylesheet_link_tag 'admin/show' %>
<% end %>

<div class="user-global-container">

  <%# プロフィール画像 %>
  <div class="img-container">
    <img class="profile-img" src="<%= "#{@user.image}" %>">
  </div>

  <%# ユーザ情報 %>
  <div class="user-container">
    <%# User name %>
    <div class="user-name">
      <div class="name__contents">
        <div class="name__text">
          <%= @user.name %>
        </div>
        <%=link_to '編集', edit_admin_user_path, class: 'btn'%>
      </div>
    </div>
  </div>

</div>


<%# 投稿カードのパーシャル呼び出し %>
<%= render 'partial/posts_card' %>
