<% content_for :css do %>
	<%= stylesheet_link_tag 'admin/show' %>
<% end %>

<h1>マイページ</h1>

<table class="table table-hover">
    <tbody>
        <tr>
            <th><%=User.human_attribute_name(:name)%></th>
            <td><%=@user.name%></td>
        </tr>
        <tr>
            <th><%=User.human_attribute_name(:email)%></th>
            <td><%=@user.email%></td>
        </tr>
        <tr>
            <th>ユーザ種別</th>
            <td><%=@user.admin? ? '管理者' : '一般ユーザ'%></td>
        </tr>
    </tbody>
</table>

<%=link_to '編集', edit_admin_user_path, class: 'btn btn-primary mr-3'%>


<div class="card card-skin">
	<% @posts.each do |post| %>
		<div class="item-wrapper">
			<img class="card__imgframe" src="<%= "#{post.image}" %>">
			<div class="card__textbox">
				<div class="card__titletext">
					<%= post.title %>
				</div>
				<div class="card__overviewtext">
					<%= post.description %>
				</div>
			</div>
			<%= link_to '詳細', post_path(post), data: {"turbolinks" => false}, class: ''%>
			<%= link_to '削除', post, method: :delete, data: { confirm: "投稿「#{post.title}」を削除します。よろしいですか？"}, class: '' %>
		</div>
	<% end %>
</div>
