<% content_for :css do %>
	<%= stylesheet_link_tag 'admin/show' %>
<% end %>

<h1>マイページ</h1>

<table class="table table-hover">
    <tbody>
        <tr>
            <th><%=User.human_attribute_name(:name)%></th>
            <td><%=@user.name%></td>
        </tr>
        <tr>
            <th><%=User.human_attribute_name(:email)%></th>
            <td><%=@user.email%></td>
        </tr>
        <tr>
            <th>ユーザ種別</th>
            <td><%=@user.admin? ? '管理者' : '一般ユーザ'%></td>
        </tr>
    </tbody>
</table>

<%=link_to '編集', edit_admin_user_path, class: 'btn btn-primary mr-3'%>



<%# 投稿カードのパーシャル呼び出し %>
<%= render 'partial/posts_card' %>
